/* criar variáveis */

:root{
    --vermelho:#E50914;
    --preta:#141414;
    --branco:#ffffff;
    --cinza:#aaaaaa;
    --vermelho-escuro:#7d0000bf;
}

/*reset css */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    /* utilizando a variável*/
    background: var(--preta);
    font-family:'Times New Roman', Times, serif;
    color:var(--branco);
}

header .container{
    /*separar título*/
    margin-left: 1rem;
    /* joga todos pra direita*/
    display:flex;
    flex-direction: row;
    align-items: center;
    /*separa cada tag*/
    justify-content: space-between;
}

/*assista agora*/
.container .trailer{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}

header .logo{
    color: var(--vermelho);
    font-family:'Arial Black',Times;
    font-size: 2.25rem;
}

header .logo a {
    text-decoration: none;
    color: var(--vermelho);
}


header nav a, header div a{
    text-decoration: none;
    color:var(--cinza);
    /*separar itens a*/
    margin-right: 0.8rem;
}

header div a{
    margin: 2px;
    padding: 2px;
}

header nav a:hover,header div a:hover{
    color:var(--branco);
}

.btn-menu{
    width: 20% !important;
    background-color:var(--vermelho-escuro);
    border:none;
    color:var(--branco);
    /*espaço interno do elemento*/
    padding: 15px 30px;
    /*espaço entre elementos*/
    font-size: 12px;

    cursor: pointer;
    /*transição entre uma animação e outra*/
    transition: .3s ease all;

    text-decoration: none;
}

.nav-mobile{
    display: none;
}

@media (max-width: 700px) {
    .nav{
        display: none;
    }
    .btn-menu{
        display: block;
    }
}

@media (min-width: 700px) {
    .btn-menu{
        display: none;
    }
}

/*filme principal*/
.filme-principal{
    font-size:1rem;
    height:400px;
    background-size: cover;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top:10px;
    margin-bottom:10px;
}

.titulo{
    /*usar porcentagem pensando no mobile fist*/
    margin-top: 15%;
    font-size:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao{
    background-color:var(--vermelho-escuro);
    border:none;
    color:var(--branco);
    /*espaço interno do elemento*/
    padding: 15px 30px;
    /*espaço entre elementos*/
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    /*transição entre uma animação e outra*/
    transition: .3s ease all;

    text-decoration: none;
}


.botao:hover, .btn-menu:hover{
    background-color: var(--branco);;
    color: var(--preta)
}

.botao i{
    margin-right:5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/*wrapper = envelopar*/

/*owl imagems carousel*/

.box-filme{
    height:100%;
    width:100%;
    display:block;
}

/*separar margem carousel*/

.carrosel-filmes{
    margin-top:5px;
}

.trailers{
    height:100%;
    background-size:cover;
}

.rodape{
    background-color:var(--vermelho-escuro);
    border:none;
    padding:1rem 1rem 1rem;
}