<div id="template"></div>
<script src="../js/owl/jquery.min.js"></script>
<script type="text/javascript" src="../js/module.js"></script>
<main>
    <div class="trailers">
        <div class="container">
            <div class="trailer">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/SO11jKFMN9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
<div id="footer"></div>
<script type="text/javascript" src="../js/footer.js"></script>